.contenedor-img{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.img-empty{
    max-width: 20%;
}
h4{
    text-align: center;
}